<h1>Add a new video</h1>

<%= form_for :video do |f| %>
  Name: <%= f.text_field :name %><br />
  Url: <%= f.text_field :basic_url %><br />
  Emotion: <%= select_tag(:emotion_name, options_for_select([['Happy', 1], ['Sad', 2], ['Numb', 3], ['Angry', 4], ['Lost', 5]])) %><br /><br />
  <%= f.submit %>
<% end %>