<!DOCTYPE html>
<html>
<head>
  <title>TodayIFeel</title>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Poppins:400,700' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav-bar">
    <p class="link"><%= link_to "Home", root_path %></p>
  <% if !user_signed_in? %>
    <div class="login-options">
      <p class="link"><%= link_to "Sign Up is super optional     |", new_user_registration_path %></p>
      <p class="link"><%= link_to "Sign In", new_user_session_path %></p>
  <% end  %>
  <% if user_signed_in? %>
      <p class="link"><%= link_to "I'm Done", destroy_user_session_path, method: :delete %></p>
    </div>
  <% end  %>
  </div>
<%= yield %>

</body>
</html>